@use '../../../styles.scss' as *;

.cat-tab {
    padding: 5px;

    cursor: pointer;
}

.cat-tab:hover {
    color: $accent;
    border-bottom: 2px solid $accent;
}

.cover-container {
    width: 200px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

}

.cover-title {
    position: absolute;
    bottom: 5px;
}

.main-header {
    @media (min-width:768px) {
        margin-left: max(9%, 100px);

    }
}

.coverlist {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}