<div
class="main-header z-10 w-screen bg-dark_bg text-prime_text flex flex-col fixed top-0 left-0"
>
<div class="flex h-[60px] justify-between p-4">
  <h1 class="text-3xl">Browse</h1>
  <div>
    <button>S</button>
    <button>F</button>
    <button>O</button>
  </div>
</div>
<div class="category border-b p-4 bg-dark_bg">
  <ul class="flex gap-3 justify-evenly">
    <li class="cat-tab selected">
      Sources
    </li>
    <li class="cat-tab">Extensions</li>
    <li class="cat-tab">Migrate</li>
  </ul>
</div>
</div>

<div class="list-area p-2 relative mt-[140px]">
    <section>
        <h1 class="text-accent">Last used</h1>
    </section>
    <section>
        <h1>Multi</h1>
    </section>
    <section>
        <h1>English</h1>
    </section>
</div>