<div
class="main-header z-10 w-screen bg-dark_bg text-prime_text flex flex-col fixed top-0 left-0"
>
<div class="flex h-[60px] justify-between p-4">
  <h1 class="text-3xl">Browse</h1>
  <div>
    <button>S</button>
    <button>F</button>
    <button>O</button>
  </div>
</div>
<div class="category border-b p-4 bg-dark_bg">
  <ul class="flex gap-3 justify-evenly">
    <li class="cat-tab selected">
      Sources
    </li>
    <li class="cat-tab">Extensions</li>
    <li class="cat-tab">Migrate</li>
  </ul>
</div>
</div>

<div class="list-area p-2 relative mt-[140px]" >
    <section *ngFor="let section of extensions; index as i">
        <h1 class="text-gray-300 pb-5">{{section.language}}</h1>
        <ul class="flex flex-col gap-5" >
          <li class="h-10 gap-4 flex items-center justify-between" *ngFor="let item of section.extensionList; index as i">
          <img src="../../../assets/static/Mangadex-icon.jpeg" alt="" class="h-full rounded-s">
          <span class="w-full "><div>{{item}}</div><div class="text-sm pt-1">{{section.language}}</div></span>
          <button class="text-accent hover:opacity-60 transition-all" routerLink="/search">Latest</button>
          <span>Pin</span>
          </li>
          
        </ul>
    </section>
    
</div>