<nav
        class=" z-10 shadow-md bottom-0 left-0 fixed navbar bg-[#262930] h-[80px] w-full  md:h-full md:w-[9%] min-w-[100px] "
      >
        <ul
          class="navlinks h-full w-full flex md:flex-col gap-4 justify-evenly items-center"
        >
          <li>
            <span><img src="../../../assets/Collection.svg" alt="" srcset="" class="nav-icon" /></span>
            <p>Library</p>
          </li>
          <li>
            <span><img src="../../../assets/NewRelease.svg" alt="" srcset="" class="nav-icon" /></span>
            <p>Updates</p>
          </li>
          <li>
            <span><img src="../../../assets/History.svg" alt="" srcset="" class="nav-icon" /></span>
            <p>History</p>
          </li>
          <li>
            <span><img src="../../../assets/Explore.svg" alt="" srcset="" class="nav-icon" /></span>
            <p>Browse</p>
          </li>
          <li>
            <span><img src="../../../assets/meatball.svg" alt="" srcset="" class="nav-icon" /></span>
            
           <p> More </p></li>
        </ul>
      </nav>