<li class="cover-container list-none cursor-pointer" mat-ripple [matRippleColor]="'#ffffff57'"  (click)="navigateToMangaDetails()" >
    <div class="cover-title text-white p-3 px-2 w-full flex flex-col justify-end h-2/5">
      <h1 class="line-clamp-2 ">

        {{mangaData.title}}
      </h1>
    </div>
    <!-- <div class="backdrop-blur-sm"></div> -->
    <img src="{{cover}}" alt="Manga Cover" onerror="this.src='../../../assets/static/One.jpg';"  class="cover-image" />
  </li>
<!-- cover:any = '../../../assets/static/One.jpg'; -->
