.cover-container{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 0.7;
    cursor: pointer;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/cover_error.svg');

}
.cover-title{
    position: absolute;
    left: 0;
    bottom: 0;
    // color: black;
    background: linear-gradient(0deg, rgb(0 0 0 / 74%), transparent);
    // z-index: 100;
   
}