.cover-container{
    width: 100%;
    overflow: hidden;
    aspect-ratio: 0.7;
    cursor: pointer;
    position: relative;

}
.cover-title{
    position: absolute;
    left: 0;
    bottom: 0;
    color: black;
    
    // z-index: 100;
   
}