<!-- TopBar -->
<div
  class="topnavbar sticky top-0 items-center text-prime_text h-auto text-xl md:bg-dark_bg w-full p-4 z-50 flex justify-between m-auto"
  [ngClass]="{ 'bg-transparent': isScrolled }"
>
  <mat-icon class="!overflow-visible">arrow_back</mat-icon>
  <span class="md:block flex-grow pl-3 line-clamp-1">{{
    mangaData.attributes.title["en"]
  }}</span>
  <div class="flex gap-10">
    <button>
      <mat-icon>download</mat-icon></button
    ><button>
      <mat-icon>filter_list</mat-icon></button
    ><button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
<div class="flex flex-col md:flex-row md:mt-10">
  <!-- Manga Details -->
  <div class="manga-details w-full md:h-screen md:overflow-scroll">
    <div class="flex big-cover pt-32 px-5 items-center" style="background-image: url('{{coverUrl}}');" >
      <div
        class="cover w-[150px] max-h-[250px] md:w-[256px] shadow-md rounded-sm overflow-hidden cursor-pointer"
      >
        <img [src]="coverUrl" alt="cover_art" style="background-image: url('../../../assets/cover_error.svg');" srcset="" />
      </div>
      <div class="w-full px-4 text-second_text">
        <div class="mangaTitle text-3xl text-prime_text">
          {{ mangaData.attributes.title["en"] }}
        </div>
        <p class="authorName capitalize">{{ mangaAuthor }}</p>
        <span class="flex gap-2"
          ><p class="status capitalize">{{ mangaData.attributes.status }}</p>
          <p class="source">MangaDex (EN)</p>
        </span>
      </div>
    </div>
    <div class="flex text-center items-center py-3">
      <div
        class="w-full flex flex-col items-center cursor-pointer text-[#6a6979] transition-all ease-in hover:text-white"
      >
        <i class="fa-solid fa-heart mb-1 text-lg"></i>
        <span>In Library</span>
      </div>
      <div
        class="w-full flex transition-all ease-in text-[#6a6979] hover:text-white flex-col items-center cursor-pointer group"
      >
        <app-tachi-svg-icons
          [svgName]="'Webview'"
          class="w-6 h-auto block mb-1 fill-[#6a6979] group-hover:fill-white transition-all ease-in"
        ></app-tachi-svg-icons>
        <div>WebView</div>
      </div>
    </div>
    <div class="descContainer text-second_text p-3">
      <p>
        {{ mangaData.attributes.description["en"] }}
      </p>
    </div>
    <div class="tags p-3">
      <ul class="flex gap-2 flex-wrap">
        <li
          class="tag"
          *ngFor="let tag of mangaData.attributes.tags; index as i"
        >
          {{ tag.attributes.name["en"] }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Chapter Container -->
  <div class="chapter-container w-full md:overflow-scroll h-screen">
    <p class="text-prime_text p-4">{{totalchaps}}</p>
    <ul class="chapterlist transition-all">
      <li
        *ngFor="let chapter of chapterList; index as i"
        class="flex text-prime_text w-full justify-between items-center hover:backdrop-brightness-90 cursor-pointer transition-all ease-in p-4"
      >
        <div>
          <p>Vol. {{chapter.attributes.volume}} Ch.{{chapter.attributes.chapter}} </p>
          <div>
            <span class="text-xs">{{chapter.attributes.publishAt | date :'short'}}  </span> ▪
            <span class="text-xs text-second_text opacity-50"> {{chapter.relationships[0].attributes?.name? ? chapter.relationships[0].attributes?.name? : ''}}  </span>
          </div>
        </div>
        <span class="download-svg"
          ><app-tachi-svg-icons
            [svgName]="'download_btn'"
            class="w-6 h-auto block mb-1 opacity-75 hover:opacity-100 transition-all ease-in"
          ></app-tachi-svg-icons>
        </span>
      </li>
    </ul>
  </div>
</div>
