<!-- TopBar -->
<div
  class="topnavbar fixed top-0 md:left-[9%] text-prime_text w-screen h-10 text-xl md:bg-dark_bg z-50"
  [ngClass]="{'bg-dark_bg': '!isScrolled'}"
>
  Yesterday Wa...
</div>
<!-- Manga Details -->
<div class="flex flex-col md:flex-row">
  <div class="manga-details w-full md:mt-10">
    <div class="flex big-cover pt-32 px-5 items-center">
      <div
        class="cover w-[150px] max-h-[250px] md:w-[256px]  shadow-md rounded-sm overflow-hidden cursor-pointer"
      >
        <img src="./assets/static/One.jpg" alt="" srcset="" />
      </div>
      <div class="w-full px-4 text-second_text">
        <div class="mangaTitle text-2xl text-prime_text">Yesterday Wo Utatte</div>
        <p class="authorName">TOUME Kei</p>
        <span
        class="flex gap-2"
          ><p class="status">Ongoing</p>
          <p class="source">MangaDex (EN)</p>
        </span>
      </div>
    </div>
    <div class="flex text-center items-center py-3">
      <div class="w-full flex flex-col items-center  cursor-pointer">
        <i class="fa-solid fa-heart mb-1 text-lg"></i>
       <span>In Library</span> </div>
      <div class="w-full flex flex-col items-center cursor-pointer">
       <app-tachi-svg-icons [svgName]="'Webview'" class="w-6 h-auto block mb-1"></app-tachi-svg-icons>
      <div>WebView</div>  
      
      </div>
    </div>
    <div class="descContainer text-second_text p-3">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus est
        voluptas quos tempore libero, dolores unde consectetur cum quasi
        corrupti voluptates? Inventore, minus obcaecati officia voluptate
        laudantium sequi odio magnam. Reiciendis natus accusantium deleniti eius
        at ad similique voluptas quibusdam beatae rerum, quas exercitationem
        possimus sed in non eligendi aliquid aut debitis labore aspernatur sit
        delectus dicta explicabo ex? Laborum?
      </p>
    </div>
    <div class="tags p-3">
      <ul class="flex gap-2 flex-wrap">
        <li
          class="tag"
          *ngFor="
            let tag of [
              'Romance',
              'Drama',
              'Seinen',
              'Comedy',
              'Slice of Life',
              'Action'
            ];
            index as i
          "
        >
          {{ tag }}
        </li>
      </ul>
    </div>
  </div>

  <!-- Chapter Container -->
  <div class="chapter-container w-full mt-10 md:overflow-scroll h-screen ">
    <p class="text-prime_text p-4">118 Chapters</p>
    <ul class="chapterlist transition-all">
      <li
        *ngFor="let k of [1, 2, 3, 4, 1, 2, 3, 4, 1, 1, 5]; index as i"
        class="flex text-prime_text w-full justify-between items-center hover:backdrop-brightness-90 cursor-pointer transition-all ease-in p-4"
      >
        <div>
          <p>Vol.02 Ch.00{{ k }}</p>
          <div>
            <span class="text-xs">5/11/20 </span> ▪
            <span class="text-xs text-second_text opacity-50"> Page: 3 </span>
          </div>
        </div>
        <span class="download-svg"> </span>
      </li>
    </ul>
  </div>
</div>
