<div class="bg-black w-screen h-screen relative">
  <div *ngIf="barsVisible" [@slideUp]="animationState"
    class="top-bar z-40  fixed w-full h-24 top-0 left-0 bg-navbar_color bg-opacity-70 flex flex-row items-center p-4 text-prime_text">

    <div class="px-4">
      <mat-icon class="!overflow-visible cursor-pointer" (click)="goBack()">arrow_back</mat-icon>
    </div>
    <div class="flex-grow flex flex-col gap-1">
      <span class="text-2xl">{{chapterTitle}}</span>
      <span class="text-lg">Vol. {{volumeNumber}} Ch. {{chapterNumber}}</span>

    </div>
    <div class="flex flex-row gap-5 items-center">
      <span class="w-8"><img src="assets/Bookmark Border.svg" alt="" srcset=""></span>

      <app-tachi-svg-icons [svgName]="'Webview'"
        class="w-8 h-auto block mb-1 fill-prime_text group-hover:fill-white transition-all ease-in">
      </app-tachi-svg-icons>
    </div>
  </div>
  <div class="page  w-full h-full">
    <div class="page-nav absolute flex flex-row w-full h-full top-0 left-0">
      <div (click)="goLeft()" class="go-left w-1/3 h-full"></div>
      <div (click)="showBars()" class="open-bars w-1/3 h-full"> </div>
      <div (click)="goRight()" class="go-right w-1/3 h-full"></div>
    </div>

<app-loader class="absolute top-1/2 left-1/2" *ngIf="isLoading"></app-loader>
    <div *ngIf="!isLoading" id="mangareader" class="flex h-full w-full justify-center items-center gap-2">
      <ng-container *ngFor="let page of readingArray; index as i">

        <img [@pageSlide]="animationState"
        *ngIf="currentPage == i" class="max-h-full" [src]="getImageUrl(page)"
          alt="mangaPage" />

      </ng-container>
    </div>
    <!-- <div id=”flipbook” class="h-full w-1/2  relative">

      <div class="bg-no-repeat bg-contain" style="background-image:url(/assets/static/Horimiya.jpg);"></div>
      <div class="bg-no-repeat bg-contain" style="background-image:url(/assets/static/Kanojo.jpg);"></div>
      <div class="bg-no-repeat bg-contain"
        style="background-image:url(/assets/static/One.jpg); background-size: contain;"></div>
      <div class="bg-no-repeat bg-contain" style="background-image:url(/assets/static/Goku.jpg);"></div>

    </div> -->
  </div>
  <div *ngIf="barsVisible" [@slideDown]="animationState"
    class="bottom-bar  text-prime_text w-full fixed bottom-0 left-0 ">
    <div class="progress-bar flex flex-row gap-5 px-8 mb-3">
      <div class="page-stepper">
        <i class="fa-solid fa-backward-step text-white"></i>
      </div>
      <div class="flex-grow bg-navbar_color opacity-80 h-12 rounded-full flex flex-row gap-2 items-center justify-center text-lg">
        <span class="p-5">{{currentPage+1}}</span>
        <div class="flex-grow p-2"> <input type="range" class="cursor-pointer w-full " min="1" max="{{totalPages}}" [(ngModel)]="currentPageValue" ></div>
        <span class="p-5">{{totalPages}}</span>

      </div>
      <div class="page-stepper">
        <i class="fa-solid fa-forward-step text-white"></i>
      </div>
    </div>
    <div class="menu-bar bg-navbar_color opacity-70 h-24"></div>
  </div>
  <span *ngIf="!barsVisible" [@slideUp] class="absolute bottom-0 left-1/2 font-bold">{{currentPage+1}}/{{totalPages}}</span>
</div>