/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
    display: none;
  }
$accent: #acc9ff;
$dark_bg:#1a1a1a;
$navbar_color: #262930;

body{
    transition: 0.5s ease-in;
}