/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@300;400&display=swap');

body::-webkit-scrollbar {
    display: none;
    
  }
$accent: #f3b375;
$btn_bg:#393945;
$dark_bg:#21212d;
$dark_bg_rgb:33 33 45;
$dark_bg_rgb_dimmed:33 33 45/ 0.7;
$navbar_color: #272435;
$fill: #382a4e;
$second_text:#b9b6c7;
$svgwhite: #cbc3ce;
$text_col:#e3e0f1;
$inter:'Inter', sans-serif;
body{
    transition: 0.5s ease-in;
    // font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;

font-weight: 400;
}

.main-header{
  width: 100%;
  @media (min-width:768px) {
    
    width: min(calc(100% - 100px),90%);
  }
}

.cat-tab{
    padding: 5px;

    cursor: pointer;
}
.cat-tab:hover{
    color: $accent;
    border-bottom: 2px solid $accent;
}

// .cover-title{
//     position: absolute;
//     bottom: 5px;
// }
.main-header{
    @media (min-width:768px) {
        margin-left: max(9%,100px);
        
    }
}
.list-area>section{
    padding: 20px 0;
}