/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
    display: none;
  }
$accent: #f3b375;
$dark_bg:#21212d;
$navbar_color: #272435;
$fill: #382a4e;
$second_text:#b9b6c7;
$svgwhite: #cbc3ce;
$text_col:#e3e0f1;
body{
    transition: 0.5s ease-in;
}

.main-header{
  width: 100%;
  @media (min-width:768px) {
    
    width: min(calc(100% - 100px),90%);
  }
}

.cat-tab{
    padding: 5px;

    cursor: pointer;
}
.cat-tab:hover{
    color: $accent;
    border-bottom: 2px solid $accent;
}

// .cover-title{
//     position: absolute;
//     bottom: 5px;
// }
.main-header{
    @media (min-width:768px) {
        margin-left: max(9%,100px);
        
    }
}
.list-area>section{
    padding: 20px 0;
}